h1{
  color: black;
  text-shadow: 2px 2px 5px green;
  font-size: 80px;
}

h2 {
  font-style: oblique;
  color: black;
  text-shadow: 2px 2px 5px purple;
  padding: 10px;
  border: 5px solid gray;
  width: 320px;
  margin: 0;
}

.center {
  text-align: center;
}

.container {
  color: black;
  margin-left: auto;
  margin-right: auto;
}
